body {
    font-family: Calibri;
    background-color: white;
    margin: 0;
    padding: 0;
}

.outer {
    margin-left: 15%;
    margin-right: 15%;
}

.main {
    display: flex;
}

/* Top Navigation Only */
.navbar {
    background-color: #C0DFD9;
    font-size: 20px;
    border-top: 5px solid #ffc861;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: blue;
  }

  .title-text{
    color: black;
    text-decoration-line: none;
  }
  .logo{
    padding-left: 20px;
  }
  .title{
    padding-left: 140px;
  }
  .search-bar input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-right: 10px;
}


/* Not Used Below */





.left-panel {
    width: 20%;
    background-color: #f7f7f7;
    min-height: 900px;
    justify-content: center;
    margin-top: 10px;
    padding-top: 15px;
}

.right-panel {
    width: 80%;
    background-color: #f7f7f7;
    min-height: 900px;
    margin-left: 30px;
    margin-top: 10px;
    padding-left: 15px;
}


.ask-q {
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #55a1ff;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    line-height: 26px;
}

#tagsButton:clicked{
    background-color: aquamarine;
}

.tagContainer{
    display: flex;
    align-items: center;
    justify-content: center; /* This will horizontally center the content */
}


.inner-tag {
    padding: 5px 10px;
    display: inline-block;
    background-color: grey;
    color: white;
    border-radius: 15px;
    margin-right: 10px;
}


.ask-q:hover {
    background-color: #006ab0;
}

.filter-button-container {
    display: flex;
    justify-content: flex-end;
    /* border: 10px black; */
  }
  

.filter-button {
    margin-left: 0px;
    outline: 0;
    cursor: pointer;
    margin: 0;
    background-color: black;
    padding: 10px 16px;
    color: white;
}

.filter-button:hover {
    background-color: white;
    color: black;
}

.right-panel1 {
    font-family: sans-serif;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 50px;
    /* padding:0; */
}

.right-panel3 {
    color: black;
    display: flex;
    /* justify-content: space; */
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 50px;
    /* padding:0; */
}

.right-panel2 {
    font-family: sans-serif;
    color: blue;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 50px;
}

.sign{
    align-items: center;
}

.left-panel-buttons{
    
    display: inline;
    outline: 0;
    border: 0;
    cursor: pointer;
    
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
   
    line-height: 26px;
}

.grey {
    background-color: lightgrey;
    color: blue;
  }

  .blue {
    background-color: #55a1ff;
    color: white;
  }


/* Tag Containers and Tag Box Formatting - used mainly in tags.html */
.tag-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
}

.hide{
    margin: 0;
    padding: 0;
}

.question-container {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    /* border-bottom: black 1px dotted; */
        
  }


  

  
  .question-container-left {
    width: 12%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    float: right;
    border-bottom: black 1px dotted;
  
    display: flex;
    justify-content: center;
  }
  

  .question-container-center {
    width: 70%;
    text-align: center;
    /* background-color: lightgreen; */
    padding: 10px;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow: auto;
    border-bottom: black 1px dotted;
  }

  .question-container-right {
    width: 17%;
    /* background-color: lightcoral; */
    padding: 10px;
    box-sizing: border-box;
    border-bottom: black 1px dotted;
  }
  


.tag-box {
    min-height: 40px;
    min-width: 220px;
    border: dotted;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    padding: 30px;
    margin: 17px;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

h3 a {
    color: inherit; 
        text-decoration: inherit; 
}
.question input {
    width: 75%;
    padding: 12px;
    margin-top: -5px;
    margin-bottom: 15px;
    border: none;
    resize: vertical;
}

.q-main {
    font-size: 18px;
    color: blue;
}

.q-subtext {
    font-size: 15px;
    font-family:monospace;
    margin-top: -20px;
}

.newquestion-container{
    margin-top: 0;
    padding-left: 30px;
    padding-right: 10px;
}

.large-textbox input {
    width: 75%;
    padding: 12px;
    margin-top: -5px;
    margin-bottom: 15px;
    border: none;
    resize: vertical;
    height: 200px;
}
